# Eat Safe, Love

## Notebook Set Up

In [37]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [38]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [39]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [40]:
# review the collections in our database

print(db.list_collection_names())

['establishments']

In [41]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [42]:
# Find the establishments with a hygiene score of 20
query = establishments.count_documents({'scores.Hygiene': 20})

# Use count_documents to display the number of documents in the result

# Display the first document in the results using pprint


print(query)

0

In [44]:
query = {'scores.Hygiene': 20}
results = list(establishments.find(query))
pprint(results)

[]

In [ ]:
# Convert the result to a Pandas DataFrame
hygiene20_df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print('Number of rows in results_df:', len(hygiene20_df))


# Display the first 10 rows of the DataFrame
hygiene20_df.head(10)

Number of rows in results_df: 0

Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [45]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'LocalAuthorityName': {'$regex': 'London'}, 
         'RatingValue': {'$gte': 4}}


# Use count_documents to display the number of documents in the result

count = establishments.count_documents(query)
print('Number of establishments with London as Local Authority and Rating Value >= to 4:', count)


# Display the first document in the results using pprint

results = list(establishments.find(query))
pprint(results)

Number of establishments with London as Local Authority and Rating Value >= to 4: 0
[]

In [46]:
# Convert the result to a Pandas DataFrame
london_4_df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print('Number of rows in results_df:', len(london_4_df))

# Display the first 10 rows of the DataFrame
london_4_df.head(10)

Number of rows in results_df: 0

Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [49]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score
near_penang = list(establishments.find(query).sort(sort).limit(limit))
pprint(near_penang)

degree_search = 0.01
latitude = geocode['geocode']['latitude']
longitude = geocode['geocode']['longitude']

geocode = establishments.find_one({'BusinessName': 'Penang Flavours'}, {'geocode': 1})


near_penang = list(establishments.find(query).sort(sort).limit(limit))
pprint(near_penang)

query = {'geocode.latitude':{'$gte': lat - degree_search, '$lte': lat + degree_search},
         'geocode.longitude':{'$gte': lon - degree_search, '$lte': lon + degree_search},
         'RatingValue': 5}
sort = [('scores.Hygiene', 1)]
limit = 5

# Print the results

by_penang = list(establishments.find(query).sort(sort).limit(limit))
pprint(by_penang)

NameError: name 'sort' is not defined

In [ ]:
# Convert result to Pandas DataFrame

by_penang_df = pd.DataFrame(by_penang)

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
query = {'$match': {'scores.Hygiene': 0}}

# 2. Groups the matches by Local Authority
group = {'$group': {'_id': '$LocalAuthorityName',
                   'count': {'$sum': 1}}}

# 3. Sorts the matches from highest to lowest
sort = {'$sort': {'count': -1}}

pipeline = [query, group, sort]
pipeline_results = list(establishments.aggregate(pipeline))


# Print the number of documents in the result
print('Number of documents in result:', len(pipeline_results))


# Print the first 10 results

pprint(pipeline_results[0:10])

In [ ]:
# Convert the result to a Pandas DataFrame
hygiene_new_df = pd.DataFrame(pipeline_results)



# Display the number of rows in the DataFrame
print('Number of rows in hygiene_0_df:', len(hygiene_new_df))


# Display the first 10 rows of the DataFrame
hygiene_new_df.head(10)